<ion-view ng-app="app" title="Sensors" style="background-color: #1c1d1f; color:#0c82df;">
    <ion-nav-buttons side="left">
        <a ng-click="goBack()" class="button button-icon icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
    <ion-content>
        <div style="margin-top: 70px">
            aX: {{rotation.accelerometer.x}}
            aY: {{rotation.accelerometer.z}}
            aZ: {{rotation.accelerometer.y}}
        </div>
        <div style="margin-top: 110px">
            sx: {{stop.x}}
            xy: {{stop.z}}
            sz: {{stop.y}}
        </div>

        <button class="button button-positive button-block" ng-click="calibrateSensors()">Calibrate</button>
    </ion-content>

</ion-view>