<ion-view ng-app="app" title="Left Leg Accelerometer"  style="background-color: #1c1d1f; color:#0c82df;">
    <ion-nav-buttons side="left">
        <a ng-click="goBack()" class="button button-icon icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="app">
            <div style="margin-top: 60px"> X: {{acceleration.x}} Y:  {{acceleration.y}} Z:  {{acceleration.z}}</div>
            <button class="button button-positive button-block" ng-click="calibrateSensors()">Calibrate</button>
        </div>
    </ion-content>
</ion-view>