<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Orientation</name>
  <description>
    An Ionic Framework and Cordova project.
  </description>
  <author email="support@roofio.ru" href="http://roofio.ru/">
    ROOFIO
  </author>
  <content src="index.html"/>
  <!-- <allow-navigation href="*" /> -->
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <allow-navigation href="data:*" />
  <allow-intent href="*" />
  <access origin="*"/>
  <preference name="orientation" value="portrait"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="30000"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="StatusBarBackgroundColor" value="#166e22"/>
  <preference name="xwalkVersion" value="15+"/>
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect"/>
  <preference name="xwalkMode" value="embedded"/>
  <preference name="xwalkMultipleApk" value="true"/>
  <platform name="android">
    <preference name="android-manifest/@android:installLocation" value="auto" />
    <preference name="StatusBarBackgroundColor" value="#166e22"/>
    <preference name="LoadUrlTimeoutValue" value="120000"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <plugin name="cordova-plugin-crosswalk-webview" spec="1.6.1"/>
  <plugin name="cordova-plugin-device-motion" spec="https://github.com/apache/cordova-plugin-device-motion.git"/>
  <plugin name="cordova-plugin-device-orientation" spec="https://github.com/apache/cordova-plugin-device-orientation.git"/>
  <plugin name="cordova-plugin-device-sensor-fusion" spec="https://github.com/adirtyshame/cordova-plugin-device-sensor-fusion.git"/>
  <plugin name="cordova-plugin-screen-orientation" spec="1.4.2"/>
  <plugin name="cordova-plugin-magnetometer" spec="https://github.com/sdesalas/cordova-plugin-magnetometer.git"/>
</widget>