<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
    <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="lib/jQuery/jquery.min.js"></script>
    <script src="lib/deviceapi-normaliser/deviceapi-normaliser.js"></script>

    <script type="text/javascript" src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services/services.js"></script>
    <script src="js/controllers/sensors-controller.js"></script>
    <script src="js/controllers/start-controller.js"></script>
    <script src="js/controllers/device-orientation-controller.js"></script>

    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">

    </script>
    <title>Hello World</title>
</head>
<body ng-app="app" ng-controller="StartCtrl">
<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive"></ion-nav-bar>
        <ion-nav-view>
            <ion-list>
                <ion-item style="margin-top: 140px">
                    <label class="item item-input">
                        <span class="input-label">Server IP</span>
                        <input style="background-color: #b2b2b2" inputType="phone" ng-model="host.ip">
                    </label>
                </ion-item>
                <ion-item>
                    <label class="item item-input">
                        <span class="input-label">Server Port</span>
                        <input style="background-color: #b2b2b2" type="number" ng-model="host.port">
                    </label>
                </ion-item>
                <ion-item>
                    <div>
                        <button class="button button-positive button-block" ui-sref="sensors">SECOND LEG</button>
                        <button class="button button-positive button-block" ui-sref="orientation">ONE LEG</button>
                    </div>
                </ion-item>
            </ion-list>
        </ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>

</body>
</html>
